@using Collection.Models.Item 
@model Item

<div class="row">
    <h3>Добавление нового элемента в коллекцию</h3>
    <form asp-action="Checkout" method="post" class="form-horizontal">
        <div class="form-group">
            <label asp-for="name"> </label>
            <div class="col-md-5">
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="price"> </label>
            <div class="col-md-5">
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="desc"> </label>
            <div class="col-md-5">
                <input asp-for="desc" class="form-control" />
                <span asp-validation-for="desc" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="img"> </label>
            <div class="col-md-5">
                <input asp-for="img" class="form-control" />
                <span asp-validation-for="img" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="authorName"> </label>
            <div class="col-md-5">
                <input asp-for="authorName" class="form-control" />
                <span asp-validation-for="authorName" class="text-danger"></span>
            </div>
        </div>
        <input class="btn btn-success" type="submit" value="Добавить элемент в коллекцию"/>
    </form>
</div>